{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        "latest",
        "stage-2"
      ]
    }
  }
}
